ServiceAutoWpfApp/Connected Services/SRMecanic/SAMecanic.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SAMecanic" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2019/BA7?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2019/BA7?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2019/BA7?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceAutoClassLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISAMecanic_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="ISAMecanic_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISAMecanic_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="ISAMecanic_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ISAMecanic_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ISAMecanic_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ISAMecanic_AddRange_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRange" />
  </wsdl:message>
  <wsdl:message name="ISAMecanic_AddRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRangeResponse" />
  </wsdl:message>
  <wsdl:message name="ISAMecanic_Modify_InputMessage">
    <wsdl:part name="parameters" element="tns:Modify" />
  </wsdl:message>
  <wsdl:message name="ISAMecanic_Modify_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyResponse" />
  </wsdl:message>
  <wsdl:message name="ISAMecanic_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="ISAMecanic_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ISAMecanic_RemoveRange_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRange" />
  </wsdl:message>
  <wsdl:message name="ISAMecanic_RemoveRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRangeResponse" />
  </wsdl:message>
  <wsdl:portType name="ISAMecanic">
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_Mecanic/GetById" message="tns:ISAMecanic_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_Mecanic/GetByIdResponse" message="tns:ISAMecanic_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_Mecanic/GetAll" message="tns:ISAMecanic_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_Mecanic/GetAllResponse" message="tns:ISAMecanic_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_Mecanic/Add" message="tns:ISAMecanic_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_Mecanic/AddResponse" message="tns:ISAMecanic_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_Mecanic/AddRange" message="tns:ISAMecanic_AddRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_Mecanic/AddRangeResponse" message="tns:ISAMecanic_AddRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_Mecanic/Modify" message="tns:ISAMecanic_Modify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_Mecanic/ModifyResponse" message="tns:ISAMecanic_Modify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_Mecanic/Remove" message="tns:ISAMecanic_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_Mecanic/RemoveResponse" message="tns:ISAMecanic_Remove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_Mecanic/RemoveRange" message="tns:ISAMecanic_RemoveRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_Mecanic/RemoveRangeResponse" message="tns:ISAMecanic_RemoveRange_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISAMecanic" type="tns:ISAMecanic">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IGenericServiceOf_Mecanic/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IGenericServiceOf_Mecanic/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IGenericServiceOf_Mecanic/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRange">
      <soap:operation soapAction="http://tempuri.org/IGenericServiceOf_Mecanic/AddRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <soap:operation soapAction="http://tempuri.org/IGenericServiceOf_Mecanic/Modify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/IGenericServiceOf_Mecanic/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveRange">
      <soap:operation soapAction="http://tempuri.org/IGenericServiceOf_Mecanic/RemoveRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SAMecanic">
    <wsdl:port name="BasicHttpBinding_ISAMecanic" binding="tns:BasicHttpBinding_ISAMecanic">
      <soap:address location="http://localhost:2019/SAMecanic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>