ServiceAutoWpfApp/Connected Services/SRSasiu/BA9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceAutoClassLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceAutoClassLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2019/BA9?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Sasiu">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autoturisme" nillable="true" type="tns:ArrayOfAuto" />
      <xs:element minOccurs="0" name="CodSasiu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Denumire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SasiuId" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Sasiu" nillable="true" type="tns:Sasiu" />
  <xs:complexType name="ArrayOfAuto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Auto" nillable="true" type="tns:Auto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuto" nillable="true" type="tns:ArrayOfAuto" />
  <xs:complexType name="Auto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoId" type="xs:int" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="Comenzi" nillable="true" type="tns:ArrayOfComanda" />
      <xs:element minOccurs="0" name="NumarAuto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sasiu" nillable="true" type="tns:Sasiu" />
      <xs:element minOccurs="0" name="SasiuId" type="xs:int" />
      <xs:element minOccurs="0" name="SerieSasiu" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Auto" nillable="true" type="tns:Auto" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Autoturisme" nillable="true" type="tns:ArrayOfAuto" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="Comenzi" nillable="true" type="tns:ArrayOfComanda" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Judet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Localitate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nume" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenume" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefon" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ArrayOfComanda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comanda" nillable="true" type="tns:Comanda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComanda" nillable="true" type="tns:ArrayOfComanda" />
  <xs:complexType name="Comanda">
    <xs:sequence>
      <xs:element minOccurs="0" name="Auto" nillable="true" type="tns:Auto" />
      <xs:element minOccurs="0" name="AutoId" type="xs:int" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="ComandaId" type="xs:int" />
      <xs:element minOccurs="0" name="DataFinalizare" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataProgramare" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataSystem" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Descriere" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetaliiComanda" nillable="true" type="tns:ArrayOfDetaliiComanda" />
      <xs:element minOccurs="0" name="KmBord" type="xs:int" />
      <xs:element minOccurs="0" name="StareComanda" type="tns:Stare" />
      <xs:element minOccurs="0" name="ValoarePiese" type="xs:decimal" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Comanda" nillable="true" type="tns:Comanda" />
  <xs:complexType name="ArrayOfDetaliiComanda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetaliiComanda" nillable="true" type="tns:DetaliiComanda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetaliiComanda" nillable="true" type="tns:ArrayOfDetaliiComanda" />
  <xs:complexType name="DetaliiComanda">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comanda" nillable="true" type="tns:Comanda" />
      <xs:element minOccurs="0" name="ComandaId" type="xs:int" />
      <xs:element minOccurs="0" name="DetaliuComandaId" type="xs:int" />
      <xs:element minOccurs="0" name="Imagini" nillable="true" type="tns:ArrayOfImagine" />
      <xs:element minOccurs="0" name="Materiale" nillable="true" type="tns:ArrayOfMaterial" />
      <xs:element minOccurs="0" name="Mecanic" nillable="true" type="tns:Mecanic" />
      <xs:element minOccurs="0" name="MecanicId" type="xs:int" />
      <xs:element minOccurs="0" name="Operatie" nillable="true" type="tns:Operatie" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DetaliiComanda" nillable="true" type="tns:DetaliiComanda" />
  <xs:complexType name="ArrayOfImagine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Imagine" nillable="true" type="tns:Imagine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImagine" nillable="true" type="tns:ArrayOfImagine" />
  <xs:complexType name="Imagine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Descriere" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetaliuComanda" nillable="true" type="tns:DetaliiComanda" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ImagineId" type="xs:int" />
      <xs:element minOccurs="0" name="Titlu" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Imagine" nillable="true" type="tns:Imagine" />
  <xs:complexType name="ArrayOfMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Material" nillable="true" type="tns:Material" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterial" nillable="true" type="tns:ArrayOfMaterial" />
  <xs:complexType name="Material">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantitate" type="xs:decimal" />
      <xs:element minOccurs="0" name="DataAprovizionare" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Denumire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetaliiComanda" nillable="true" type="tns:ArrayOfDetaliiComanda" />
      <xs:element minOccurs="0" name="MaterialId" type="xs:int" />
      <xs:element minOccurs="0" name="Pret" type="xs:decimal" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Material" nillable="true" type="tns:Material" />
  <xs:complexType name="Mecanic">
    <xs:sequence>
      <xs:element minOccurs="0" name="DetaliiComenzi" nillable="true" type="tns:ArrayOfDetaliiComanda" />
      <xs:element minOccurs="0" name="MecanicId" type="xs:int" />
      <xs:element minOccurs="0" name="Nume" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenume" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Mecanic" nillable="true" type="tns:Mecanic" />
  <xs:complexType name="Operatie">
    <xs:sequence>
      <xs:element minOccurs="0" name="Denumire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetaliiComanda" nillable="true" type="tns:DetaliiComanda" />
      <xs:element minOccurs="0" name="OperatieId" type="xs:int" />
      <xs:element minOccurs="0" name="TimpExecutie" type="xs:decimal" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Operatie" nillable="true" type="tns:Operatie" />
  <xs:simpleType name="Stare">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InAsteptare" />
      <xs:enumeration value="Executata" />
      <xs:enumeration value="RefuzataLaExecutie" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Stare" nillable="true" type="tns:Stare" />
  <xs:complexType name="ArrayOfSasiu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sasiu" nillable="true" type="tns:Sasiu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSasiu" nillable="true" type="tns:ArrayOfSasiu" />
</xs:schema>