ServiceAutoWpfApp/Connected Services/SRComanda/SAComanda.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SAComanda" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2019/BA3?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2019/BA3?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2019/BA3?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceAutoClassLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISAComanda_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="ISAComanda_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISAComanda_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="ISAComanda_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ISAComanda_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ISAComanda_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ISAComanda_AddRange_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRange" />
  </wsdl:message>
  <wsdl:message name="ISAComanda_AddRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRangeResponse" />
  </wsdl:message>
  <wsdl:message name="ISAComanda_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="ISAComanda_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ISAComanda_RemoveRange_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRange" />
  </wsdl:message>
  <wsdl:message name="ISAComanda_RemoveRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRangeResponse" />
  </wsdl:message>
  <wsdl:portType name="ISAComanda">
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_Comanda/GetById" message="tns:ISAComanda_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_Comanda/GetByIdResponse" message="tns:ISAComanda_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_Comanda/GetAll" message="tns:ISAComanda_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_Comanda/GetAllResponse" message="tns:ISAComanda_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_Comanda/Add" message="tns:ISAComanda_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_Comanda/AddResponse" message="tns:ISAComanda_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_Comanda/AddRange" message="tns:ISAComanda_AddRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_Comanda/AddRangeResponse" message="tns:ISAComanda_AddRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_Comanda/Remove" message="tns:ISAComanda_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_Comanda/RemoveResponse" message="tns:ISAComanda_Remove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_Comanda/RemoveRange" message="tns:ISAComanda_RemoveRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_Comanda/RemoveRangeResponse" message="tns:ISAComanda_RemoveRange_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISAComanda" type="tns:ISAComanda">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IGenericServiceOf_Comanda/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IGenericServiceOf_Comanda/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IGenericServiceOf_Comanda/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRange">
      <soap:operation soapAction="http://tempuri.org/IGenericServiceOf_Comanda/AddRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/IGenericServiceOf_Comanda/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveRange">
      <soap:operation soapAction="http://tempuri.org/IGenericServiceOf_Comanda/RemoveRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SAComanda">
    <wsdl:port name="BasicHttpBinding_ISAComanda" binding="tns:BasicHttpBinding_ISAComanda">
      <soap:address location="http://localhost:2019/SAComanda" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>